

main {
 width: 100vw;
 height: 100vh;
 
 display: flex;
}

.calendar {
  width: 70%;
  height: 100%;

  margin-left: 25%;

  display: flex;
  flex-wrap: wrap;

  float: right;

  justify-content: left;
  align-items: baseline;
}

.menu {
  height: 100%;
  width: 30%;

  background-color: aliceblue;
}

.container-date {
  width: 30px;
  height: 30px;

  background-color: rgb(166, 236, 245);
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  text-align: center;
  
}

.date-text {
  margin: auto;
}

.button-div {
  display: flex;
  margin: 10px;
}

.day, .month, .year {
  font-size: 32px;
  margin: 20px;
}

.date-menu {
  margin: 10px;
  font-size: 55px;
}

.m-10 {
  margin: 10px;
}