

main {
 width: 100vw;
 height: 100vh;
 
 display: flex;
 flex-direction: row;
}

.calendar {
  width: 70%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar h1 {
  text-align: center;

  margin-bottom: 50px;
}

.calendar-contents {
  width: 80%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
}

.menu {
  height: 100%;
  width: 30%;

  background-color: aliceblue;
}

.container-date {
  width: 30px;
  height: 30px;

  text-align: center;

  flex-basis: calc(100% / 7);
  
}

.date-wrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: rgb(166, 236, 245);
  border-radius: 50%;

  width: 50px;
  height: 50px;

  transition: all .3s ease-in-out;
}

.date-wrapper:hover {
  background-color: rgb(116, 171, 179);
  cursor: pointer;
}

.container-empty {
  background-color: transparent;
  width: 30px;
  height: 30px;

  flex-basis: calc(100% / 7);

}

.date-text {
  margin: auto;
}

.button-div {
  display: flex;
  margin: 10px;
}

.day, .month, .year {
  font-size: 32px;
  margin: 20px;
}

.date-menu {
  margin: 10px;
  font-size: 55px;
}

.m-10 {
  margin: 10px;
}